@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.glow-on-hover {
  display: inline-block;
  padding: 8px 25px; /* More width, less height for landscape shape */
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 4px;
  overflow: hidden;
  background: #000000;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.glow-on-hover:hover {
  background: #ffffff;
  color: #050801;
  box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 200px #ffffff;
}

/* Glowing Border Animation */
.glow-on-hover span {
  position: absolute;
  display: block;
}

.glow-on-hover span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.glow-on-hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.glow-on-hover span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.glow-on-hover span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
